<div class="bios">
	<img class="hosts-pic" src="../static/img/skoden-boys.jpg"></img>
	<h2>Ashley</h2>
	<p class="bio">My name is <span class="bold">The Host</span> and I'm a big fan of dank memes. I spend about 11.5 hours a day thinking about them and how we as a society at large, can make our memes even more danker. I feel that to realize our maximum dankness, we have to do a lot of soul searching. But that profound soul searching for that elusive dankness isn't what a lot of people are willing or able to dedicate themselves to -- I'm pretty sure thats why Trump got in. So, it's important I work hard at my memes. In fact, I wrote an Instructables article once on how to write dank memes. It was viewed 120 times, so I guess you can say it was pretty dank. I mean, it was... until some punk kid hacked my account, changed my passwords, and stole all my trade secrets. So now, almost anyone can consider themselves a maker of dank memes. Mother fuckers don't even know what dank memes means even.</p>
	<p>Anyway... I have been criticized for my beliefs and have been called too idealistic by many close to me for believing in the dank, but it's something we have to decolonize as well. Not too many people realize, but we Indians, we used to have the dank before the white man came; and in some ways, we still do. Its in the way we bead our medallions and hair ties; its in the way we give our <em>asema (tobacco)</em> in dark city parks, late at night, and get followed by the police for doing it; its even in they way we snag. <em>Oowah.</em> So like... the dankness is still there and this podcast is a way of making sure we know it exists in each and every Indian that lives and breathes on this land of ours. The dankness is our Creator-given right to have and I'll be damned if any tries to take it away from us.</p>
	<div class="col-1-1">
		<hr/>
		<h3>The Team</h3>
		<p><span class="bold">Executive Producers:</span> The Host</p>
		<p><span class="bold">Hosts:</span> The Host</p>
		<p><span class="bold">News Editor:</span> Others</p>
		<p><span class="bold">Talent Advisor:</span> Others</p>
		<p><span class="bold">Communications:</span> Even more others</p>
		<p><span class="bold">Promotions &amp; Events:</span> Others</p>
	</div>
</div>